<template name="CartView">
  {{#if CartStore.getItems.count}}
    <h4 class="grey-text text-darken-2">Cart ({{CartStore.getItems.count}} items)</h4>
    <hr />
    <table class="bordered striped responsive-table">
      <thead>
        <tr>
            <th>Name</th>
            <th>Item Price</th>
            <th>Quantity</th>
            <th>Total Price</th>
            <th></th>
        </tr>
      </thead>
      <tbody>
      {{#each CartStore.getItems}}
        <tr>
            {{#with CatalogStore.getOneProduct this.product_id }}
          <td>{{name}}</td>
          <td>${{price}}</td>
          <td>{{../quantity}}</td>
          <td>${{total_item_price}}</td>
            {{/with}}
          <td>
            <button class="waves-effect waves-light btn increase"><i class="mdi-content-add"></i></button>
            <button class="waves-effect waves-light btn decrease"><i class="mdi-content-remove"></i></button>
            <button class="waves-effect waves-light btn red lighten-2 remove"><i class="mdi-content-clear"></i></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
    <h5 class="grey-text text-darken-2 right">Total: ${{total_cart_price}}</h5>
  {{/if}}
</template>
